.tn-top-item a, .tn-top-item{
	margin-left: 10px;
}

div{
	border: 1px solid black;
	padding: 2px;
	background-color: #ccc;
}

.tn-logo{
	width: 40px;
	height: 40px;
	margin-top: -10px;
	margin-bottom: -10px;
}

.tn-hotline{
	font-size: 1.3 em;
	color: red;
}

.tn-shoppingcart{
	font-size: 1.3 em;
}


footer{
	text-align: center;
}